name: Test LeetCode Solutions

on: [push, pull_request]

jobs:
  test:
    name: Test (Arch Linux)
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies (Arch Linux)
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm curl git base-devel


      - name: Set up Python
        run: |
          pacman -S --noconfirm python python-pip uv python-pdm
          pdm config use_uv true
          pdm install


      - name: Set up Rust
        run: |
          pacman -S --noconfirm rustup
          rustup default stable

      - name: Set up C++
        run: |
          pacman -S --noconfirm gcc cmake make fmt

      - name: Build Rust
        run: |
          cargo build --release --all

      - name: Build C++
        run: |
          cmake -S . -B build
          cmake --build build

      - name: Test Rust
        run: |
          cargo test --release --all

      - name: Test C++
        run: |
          eval $(pdm venv activate)
          pdm run tests-cpp

      - name: Test Python
        run: |
          eval $(pdm venv activate)
          pytest
